@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.th {
    background-color: #e6e6e6;
    font-weight: bold;
}

.row {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.row:nth-child(odd) {
    background-color: #f1f1f1;
}

.col {
    position: relative;
    font-size: 12px;
    border: 1px solid #d4d4d4;
    flex: 1;
    margin-top: -1px;
    margin-left: -1px;
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px 4px;
    cursor: pointer;
}

.add-row,
.add-col {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: green;
    top: 2px;
    right: 7px;
    z-index: 1;
    cursor: pointer;
}

.remove-row,
.remove-col {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: red;
    bottom: 2px;
    right: 7px;
    z-index: 1;
    cursor: pointer;
}

.mth {
    position: relative;
    width: 40%;
    font-size: 12px;
    vertical-align: middle;
    background-color: #e6e6e6;
    font-weight: bold;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px 4px;
    border: 1px solid #d4d4d4;
    margin-top: -1px;
    margin-left: -1px
}

.col:hover {
    border-color: transparent;
    box-shadow: 0 0 15px -2px #8e8e8e;
}

.col:focus {
    background-color: white;
    border: green 1px solid;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    overflow: hidden;
    transform: scale(1.1);
}

.popup-content {
    position: absolute;
    font-size: 14px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px 15px;
    border-radius: 2px;
    outline: 0;
    text-align: center;
}

.popup-content_header {
    font-size: 18px;
    margin: 10px;
}

.popup-content_body {
    margin: 10px;
}

.popup-content_footer {
    padding: 4px 20px;
}

.popup-content_close {
    position: absolute;
    font-size: 18px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.show-popup {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    z-index: 1;
    animation: anim 0.3s ease-in-out;
}

.fixed {
    overflow-y: hidden;
}

@media only screen and (max-width: 892px) {
    .col {
        min-width: 56%;
        cursor: pointer;
    }
}

@media only screen and (max-width: 760px) {
    .col {
        min-width: 50%;
        cursor: pointer;
    }
}

@keyframes anim {
    0% {
        transform: scale(3);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}